.face {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    z-index: 20;
    padding-right: 10px;
    border:1px red solid;
}

.link {
    margin-left: auto;
    overflow: hidden;
    border-radius: 7px;
}